*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
nav img{
    position: relative;
    top: 14px;
    left: 16px;
    height: 48px;
    width:98px;
}
header #plane{
    max-width: 25rem;
    position: absolute;
    top: 10rem;
    left: 40rem;
}



.hero{
    width: 100%;
    height: 100vh;
}

.hero nav ul{
    display: flex;
    gap: 70px;
    position: relative;
    top: 2rem;
    list-style: none;
    font-size: 25px;
    font-weight: 700;
    color: #666;

}
.hero nav{
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    
}

.book{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    top: 11rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    left: 4rem;
    font-size: 26px;
}
.book span{
    color: rgb(49, 123, 225);
}

.btn{
    padding: 17px;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 1rem;
    font-size: 23px;
    background: rgb(49, 123, 225);
    color: aliceblue;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out,color 0.5s ease;
}
.btn:hover{
    background-color: aliceblue;
    color: black;
}

#btn{
    position: absolute;
    top: 8px;
    left: 5rem;
}

#srch{
    position: relative;
    top: 13px;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 999px;
    background-color: white;
    box-shadow: 0 0 1rem rgb(0, 0, 0.2);
    padding: 0.75rem;
    margin: 0 0.5rem;
}
#srch input{
    background-color: white;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    border-radius: 99px;
    padding-left: 0rem;
    font-size: small;
       
}
.search-btn{
    width: 3rem;
    height: 3rem;
    border-radius: 999px;
    background-color: rgb(49, 123, 225);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#glass,#mark{
    position: absolute;
    font-size: 1.25rem;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
#mark{
    opacity: 0;
}

.active {
    width: 13.75rem;
}
.active .search-btn{
    left: calc(100% - 5rem);
}

.active  input{
    width: 100%;
    border: 1px;
}
.active #mark{
    opacity: 1;
}
.active #glass{
    opacity: 0;
}


#form{
    display: flex;
   gap: 4rem;
    margin-left: 2rem;
    border: 1px solid black;
    padding: 30px;
    border: none;
    outline: none;
    
}
#form:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  #form:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  #form:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }


#form input{

    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border: none;
    outline: none;

    
}
#form input::placeholder{
    font-size: 26x;
    opacity: 0.5;
}

#form input:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  #form input:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  #form input:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }

  


/* CSS */
.button-29 {
  align-items: center;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  position: absolute;
  left: 73rem;
  bottom: -127px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.vd{
    background: rgb(127, 163, 216);
}


    
table {
    border-radius: 5px;
    font-size: 22px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.table td, .table th {
    text-align: center;
    padding: 8px;
}

.table td {
    border-right: 1px solid #f8f8f8;
    font-size: 22px;
}

.table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.table tr:nth-child(even) {
    background: #F8F8F8;
}

.footer{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
     height: 50vh;
    background: #021a39;
    color: white;
}

.footer div ul{
  

     display: flex;
     flex-direction: column;
     gap: 15px;
}
.footer div ul li{
    list-style: none;
}
.fp{
    position: absolute;
    width: 100%;
    color: rgb(235, 229, 229);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #021a39;


}

.fp h6{
    margin-bottom: 40px;
    font-size: 20px;
}

.sbmtform{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    gap: 8px;
    transition: opacity .5s ease-in;
}
.sbmtform input{
    padding: 5px;
}

.menu{
    display: none;
    position: absolute;
   right: 7rem;
    top: 39px;
    font-size: xxx-large;
}

.slider{
    border: 1px solid black;
    width: 300px;
    height: 325px;
    z-index: 11;
    position: absolute;
    right: 49px;
    top: 89px;
    border-radius: 3rem;
    transition: transform 1s ease;
    background: #021a39;
    color: #fff; 
     display: none;
}
.active1{
    transform: translateY(-130%);
}

.slider1 ul{
    display: flex;
    flex-direction: column;
    gap: 57px;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50%;
    font-size: xx-large;
    list-style: none
    
}
.slider ul li:hover{
     transform: translateY(-5px);
     color: #5468ff;
}
.ml{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 4rem;
    font-size: 40px;

}


/* CSS */
.sbmt {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin-top: 20px;
}

.sbmt:active,
.sbmt:hover {
  outline: 0;
}

.sbmt span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.sbmt:hover span {
  background: none;
}

@media (min-width: 768px) {
  .sbmt {
    font-size: 24px;
    min-width: 196px;
  }
 
}


@media screen and (max-width:1110px) {
    #form{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #form img{
        display: none;
    }
    header #plane{
        left: 20rem;
    }
    .hero nav ul{
        display: none;
    }
    .menu{
        display: block;
        right: -56px;
    }
    #srch{
        display: none;
    }
    nav img {
        position: relative;
        top: 34px;
        left: -320px;
        height: 57px;
        width: 107px;
    }
    .slider{
        display: block;
    }
   
     

}
@media screen and (max-width:786px) {
    #form{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #form img{
        display: none;
    }
    header #plane{
        left: 20rem;
    }
    .hero nav ul{
        display: none;
    }
    .menu{
        display: block;
        right: -56px;
    }
    #srch{
        display: none;
    }
    nav img {
        position: relative;
        top: 34px;
        left: -159px;
        height: 57px;
        width: 107px;
    }

    .slider{
        display: block;
    }
    .button-29{
        left: 70rem;
        bottom: -8rem;
      }
  
    

}